figure {
  text-align: center;
}

figcaption {
  color: $grey-color;
}

.pdf-screenshots {
  display: flex;
  flex-wrap: wrap;

  figure {
    width: 50%;
  }

  img {
    border: solid $grey-color-light 1px;
  }
}

.featured-image {
  height: auto;
  margin-bottom: 1ex;
}
