figure {
  text-align: center;
}

figcaption {
  color: $grey-color;
}

.pdf-screenshots {
  display: flex;
  flex-wrap: wrap;

  figure {
    width: 50%;
  }

  img {
    border: solid $grey-color-light 1px;
  }
}

.featured-image {
  height: auto;
  margin-bottom: 1ex;
}

.book-horizontal {
  border: solid $grey-color-light 1px;
  background: $very-light-grey;
  border-radius: 10px;
  padding: 1em;
  text-align: left;

  a {
    display: flex;
  }

  img {
    height: 130px;
    margin-right: 1em;
    width: 100px;
  }

  figcaption {
    color: $text-color;
    font-size: 16px;
  }
}
