---
layout: default
---

<div style="border: solid #FF0000 2px; padding: 1ex; font-size: 150%; margin-bottom: 1em; background: #E0E0E0">
  <p><strong>Putin has invaded Ukraine. His army is murdering innocent civilians, including children! <span style="color: red">Путин нахуй!</span></strong></p>
  <p>If you live in Russia, do not believe the state propaganda. Resist the regime and donate to humanitarian organizations.</p>
  <p>My country, Poland, has accepted hundreds of thousands of Ukrainian refugees already. This is serious!</p>
</div>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.image -%}
      <img src="{{ page.image }}" width="740" height="340" alt="Featured illustrative image" class="featured-image">
    {%- endif -%}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.last_modified_at -%}
          Last updated <time class="dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}{{ page.last_modified_at | date: date_format }}</time>, first published
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
            </time>
        {%- else -%}
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
          </time>
      {%- endif -%}

      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

      {%- if page.tags -%}
        •
        {% for tag in page.tags %}
        {% assign tag_slug = tag | slugify: "raw" %}
        <a href="/tag/{{ tag_slug }}/">#{{ tag }}</a>
        {% endfor %}
      {%- endif -%}
    </p>
</header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {%- include newsletter.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
